<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
    <%- include('partials/head.html'); -%>
    
</head>
<body class="bg-dark">  
    
    <%- include('partials/navigation.html'); -%>

    <div class="container">
        <header class="row">
            <div class="col-lg-10 text-center">
                <img src="/img/hiking-2618010_1280.jpg" class="animate__animated animate__flipInY" alt="Logo">
            </div>
        </header>
    </div>

    <div class="container-fluid" id="about">
        <div class="row bg-secondary tex-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-7x"></i>
            </div>
            <div class="col-sm-6">
                <h3>Suscribete a nuestras excursiones</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, illo vel repellat doloribus delectus ad praesentium fugit autem? Soluta molestiae nostrum eveniet delectus molestias itaque eius atque repellendus amet non!</p>   
            </div>
        </div>

    </div>

    <%- include('partials/footer.html'); -%>
</body>
</html>